{% extends 'accounts/main.html' %}

{% block title %}
    Create Order
{% endblock title %}

{% block content %}

    <br>
    <div class="align-items-center col-md-5">
        <h5>Create Order</h5>
        <form action="#" method="POST">
        {% csrf_token %}
        <div class="card card-body">
            {{form}}
            <input class="btn btn-sm btn-primary mt-4" type="submit" value="Save">
            <a href="{% url 'home' %}" class="btn btn-sm btn-danger mt-4">Cancel</a>
        </div>
        </form>
    </div>
{% endblock content %}