{% extends 'accounts/main.html' %}

{% block title %}
    Create Order
{% endblock title %}

{% block content %}

    {% if customer %}
        <br>
    <a href="{% url 'customer' customer.id %}" class="ml-3 btn active btn-info">Go Back</a>
    <br>
    {% else %}
        <br>
    <a href="{% url 'home' %}" class="ml-3 btn active btn-info">Go Back</a>
    <br>
    {% endif %}
    <br>
    <div class="align-items-center col-md-5">
        {% if customer %}
            <h5>Update Order</h5>
            <form action="#" method="POST">
            {% csrf_token %}
            <div class="card card-body">
                {{form}}
                <input class="btn btn-sm btn-primary mt-4" type="submit" value="Save">
                <a href="{% url 'home' %}" class="btn btn-sm btn-danger mt-4">Cancel</a>
            </div>
            </form>
        {% else %}
            <h5>Create Order</h5>
            <form action="#" method="POST">
            {% csrf_token %}
            <div class="card card-body">
                {{form}}
                <input class="btn btn-sm btn-primary mt-4" type="submit" value="Save">
                <a href="{% url 'home' %}" class="btn btn-sm btn-danger mt-4">Cancel</a>
            </div>
            </form>
        {% endif %}
    </div>
{% endblock content %}