{% extends 'accounts/main.html' %}

{% block title %}
    Delete Customer
{% endblock title %}

{% block content %}

    <br>

    <div class="align-items-center col-md-5">
        {% if customer %}
            <h5>Delete Customer</h5>
            <form action="#" method="POST">
            {% csrf_token %}
            <div class="card card-body">
                <h5>Do you really want to delete <span class="">{{customer}}</span> ?</h5>
                <input class="btn btn-sm btn-primary mt-4" type="submit" value="Yes">
                <a href="{% url 'customer' customer.id %}" class="btn btn-sm btn-danger mt-4">Cancel</a>
            </div>
            </form>
        {% endif %}

        {% if order %}
            <h5>Delete Order</h5>
            <form action="#" method="POST">
            {% csrf_token %}
            <div class="card card-body">
                <h5>Do you really want to delete <span class="">{{order}}</span> ?</h5>
                <input class="btn btn-sm btn-primary mt-4" type="submit" value="Yes">
                <a href="{% url 'customer' order.customer.id %}" class="btn btn-sm btn-danger mt-4">Cancel</a>
            </div>
            </form>
        {% endif %}
    </div>
{% endblock content %}